@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
    font-family: 'Inter', sans-serif;
}

header{
    height: 100px;
    background-color: aqua;
    margin: 0 auto;
    width: 940px;
}

header img{
    height: 95px;
    width: 95px;
    background-color: brown;
}

.orca{
    background-color: blue;
    height: 450px;
    width: 940px;
    margin: 0 auto;

}

.ingresa_palabra{
    background-color: blue;
    height: 350px;
    width: 940px;
    margin: 0 auto;
    text-align: center;
    

}

.ingresa_palabra textarea{
    padding:0;
    
    
    
}

.palabra{
    background-color:blueviolet;
    height: 150px;
    width: 940px;
    margin: 0 auto;

}

.intentos{
    background-color:cadetblue;
    height: 75px;
    width: 940px;
    margin: 0 auto;

}

.botonera{
    background-color:chocolate;
    height: 100px;
    width: 940px;
    margin: 0 auto;
}

.alerta{
    background-color:chartreuse;
    height: 20px;
    width: 940px;
    margin: 0 auto;
}

.mensaje{
    color: aliceblue;
    position: absolute;
    text-align: center;
    top:25%;
    left:42%;
    background-color:crimson;
    height: 200px;
    width: 300px;
    margin: 0 auto;   
}

