@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
    font-family: 'Inter', sans-serif;
    background-color: #F3F5FC;
    color:#0A3871;

}

header{
    height: 100px;

    margin: 0 auto;
    width: 940px;
}

header img{
    height: 65px;
    
  
}

.orca{
    background-color: blue;
    height: 450px;
    width: 940px;
    margin: 0 auto;

}

.ingresa_palabra{

    height: 350px;
    width: 940px;
    margin: 0 auto;
    text-align: center;
    

}

.ingresa_palabra textarea{
    padding:0;
    
    
    
}

.palabra{

    height: 150px;
    width: 100%;
    margin: 0 auto;

}

.palabra li{
    display: inline-block;
    border-bottom: 2px solid #0A3871;;
    text-align: center;
    text-decoration: none;
    font-size: 75px;
    width: 80px;
    margin: 5px;
}

.palabra ul{
    text-align: center;
    letter-spacing: 5px;    
    
}

.intentos{
    font-size: 35px;
    height: 75px;
    width: 940px;
    margin: 0 auto;
    text-align: center;

}

.intentos li{
    display: inline-block;
    letter-spacing: 5px;
}

.lista{
    text-decoration: none;

}

.botonera{
    
    height: 65px;
    max-width: 450px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    
}

.alerta{
    font-size: smaller;
    height: 20px;
    max-width: 450px;
    margin: 0 auto;
}

.alerta p{
    margin-left: 2px;
}

.mensaje{
    color: aliceblue;
    position: absolute;
    text-align: center;
    top:25%;
    left:42%;
    background-color:crimson;
    height: 200px;
    width: 300px;
    margin: 0 auto;   
}
.btn{
    flex-grow: 1;
    margin: 5px;
    border-radius: 15px;
}

.btn-claro{ 
    background:transparent;
    border: 1px solid #0A3871;
    color:#0A3871;
}

.btn-claro:hover{  
    background:#D8DFE8; 
}

.btn-oscuro{
    background: #0A3871;
    color: #FFFFFF;
    border: 1px solid #0A3871;
   
}

.btn-oscuro:hover{
    background: #356EA9;
}